*.kdev4
build/
src/version.h
/Glimpse/

.cproject
.project
.settings/*

.DS_Store

example/delta*.fits
example/IP.fits
example/kappa.fits
example/lensKernel.fits
example/P.fits
example/PP.fits
example/QP.fits
example/thresholds.fits
